<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>PricingPage</title>
    <link rel="preload" href="fonts/PoppinsRegular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Poppins-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Poppinsbold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Poppinsextrabold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
