<header>
  <div class="container">
    <div class="mobile-nav">
      <a href="#" class="header__logo">
        <svg width='138' height='30'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>
      <button class="header__btn purple-btn">Join Now</button>
    </div>

    <div class="header">
      <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <a href="#" class="header__logo">
        <svg width='138' height='30'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <button class="header__btn purple-btn">Join Now</button>
    </div>
    
  </div>

</header>